@import "fonts";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    color: white;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    user-select: none;

    // TEMP for M.C.S.C.
    transform: scale(1);
    transform-origin: top;
    // TEMP for M.C.S.C.
}

.app-title {
    text-shadow: 2.5px 0 rgba(98, 0, 255, 0.25), -2.5px 0 rgba(255, 0, 0, 0.25);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.meeting-info {
    border: 1px solid white;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    background: #1c1c1c;
    font-size: 18px;

    .persian-text {
        direction: rtl;
        font-family: "IRANYekan";
    }
}

.arrow-btn {
    cursor: pointer;
    transition: fill 0.15s, transform 0.15s;

    &:hover {
        fill: #a0a0a0;
    }

    &:active {
        fill: #777777;
        transform: scale(0.98);
    }
}

.order-section {
    border: 1px solid white;
    list-style-position: inside;
    width: 871px;
    padding: 20px;
    border-radius: 10px;
    background: #1c1c1c;
    font-size: 18px;
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;

    .container-title {
        margin-bottom: 20px;
    }

    .attendees-input {
        border: 1px solid black;
        background-color: rgb(83, 83, 83);
        color: white;
        padding: 0px 10px 3px;
        border-radius: 5px;
        position: relative;
        top: -4px;
        font-family: "IRANYekan";
        font-size: 16px;
        direction: rtl; //temp
    }

    .order-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;

        .attendees-list,
        .order-list {
            display: inline-block;
        }
    }
}
