@font-face {
  font-family: "IRANYekan";
  src: url("../Assets/Fonts/IRANYekanFN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../Assets/Fonts/IRANYekanFN-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../Assets/Fonts/IRANYekanFN-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../Assets/Fonts/IRANYekanFN-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../Assets/Fonts/IRANYekanFN-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../Assets/Fonts/IRANYekanFN-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../Assets/Fonts/IRANYekanFN-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  color: white;
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.app-title {
  text-shadow: 2.5px 0 rgba(98, 0, 255, 0.25), -2.5px 0 rgba(255, 0, 0, 0.25);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.meeting-info {
  border: 1px solid white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  background: #1c1c1c;
  font-size: 18px;
}
.meeting-info .persian-text {
  direction: rtl;
  font-family: "IRANYekan";
}

.arrow-btn {
  cursor: pointer;
  transition: fill 0.15s, transform 0.15s;
}
.arrow-btn:hover {
  fill: #a0a0a0;
  transform: scale(1.01);
}
.arrow-btn:active {
  fill: #777777;
  transform: scale(0.98);
}

.order-section {
  border: 1px solid white;
  list-style-position: inside;
  width: 871px;
  padding: 20px;
  border-radius: 10px;
  background: #1c1c1c;
  font-size: 18px;
  margin-top: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
}
.order-section .container-title {
  margin-bottom: 20px;
}
.order-section .attendees-input {
  border: 1px solid black;
  background-color: rgb(83, 83, 83);
  color: white;
  padding: 0px 10px 3px;
  border-radius: 5px;
  position: relative;
  top: -4px;
  font-family: "IRANYekan";
  font-size: 16px;
  direction: ltr;
}
.order-section .order-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.order-section .order-container .attendees-list,
.order-section .order-container .order-list {
  display: inline-block;
}

.custom-scale-div {
  transform: scale(0.975);
  transform-origin: top;
  display: none;
}/*# sourceMappingURL=index.css.map */